<!-- template2.html -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Search Plaza Kamera </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search" v-model="query" >
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="result in results">
                <td>{{ result._source.kode }}</td>
                <td>{{ result._source.barang }}</td>
                <td>{{ result._source.harga.toLocaleString() }}</td>
                <td>{{ result._source.tanggal.split('/').reverse().join('/') }}</td>
                <td><button type="button" class="btn btn-primary" v-on:click="myFunction(result._source.kode)">Check Stock</button></td>
            </tr>
            </tbody>
        </table> 
        <div class="alert alert-info" v-if="kode_barang" > 
                 <strong>Stock</strong>
                  <p>Kode   : {{ kode_barang }}</p>
                  <p>Cabang : {{ nama_cabang }}</p>
                  <p>Stock  : {{ stock_aktif }}</p>  
            </tr>
        </div>
    </div>
</div>
<script src="/elasticsearch.min.js"></script>

<script>
// instantiate a new Elasticsearch client like you did on the client
var client = new elasticsearch.Client({
    hosts: ['http://52.221.246.57:9200']
});
// create a new Vue instance
var app = new Vue({
    el: '#app',
    // declare the data for the component (An array that houses the results and a query that holds the current search string)
    data: {
        results: [],
        stock_results: [],
        query: '',
        kode_barang: '',
        nama_cabang: '',
        stock_aktif: 0,
    },
    // declare methods in this Vue component. here only one method which performs the search is defined
    methods: {
        // function that calls the elastic search. here the query object is set just as that of the server.
        //Here the query string is passed directly from Vue
        myFunction: function(id) {
          console.log(id)
          var body = {
                "query":{
                    "bool":{
                        "must":[
                        {
                            "query_string":{
                                "default_field":"kode_barang.keyword",
                                "query":id
                            }
                        }
                        ],
                        "must_not":[],
                    "should":[]}
                },
                    "from":0,
                    "size":10,
                    "sort":[],
                    "aggs":{}
                }
                // search the Elasticsearch passing in the index, query object and type
            client.search({ index: 'pk', body: body, type: 'stock' })
                .then(results => {
                    console.log(`found ${results.hits.total} items in ${results.took}ms`);
                    // set the results to the result array we have 
                    this.stock_results = results.hits.hits[0];
                    this.nama_cabang = this.stock_results._source.nama_cabang; 
                    this.stock_aktif = this.stock_results._source.stock_aktif;
                    this.kode_barang = this.stock_results._source.kode_barang;
                })
                .catch(err => {
                    console.log(err)

                });
        },
        search: function() {
            var body = {
                "query":{
                    "bool":{
                        "must":[
                        {
                            "query_string":{
                                "default_field":"_all",
                                "query":this.query
                            }
                        }
                        ],
                        "must_not":[],
                    "should":[]}
                },
                    "from":0,
                    "size":10,
                    "sort":[],
                    "aggs":{}
                }
                // search the Elasticsearch passing in the index, query object and type
            client.search({ index: 'pk', body: body, type: 'price' })
                .then(results => {
                    console.log(`found ${results.hits.total} items in ${results.took}ms`);
                    // set the results to the result array we have 
                    this.results = results.hits.hits;
                })
                .catch(err => {
                    console.log(err)

                });


        }
    },
    // declare Vue watchers
    watch: {
        // watch for change in the query string and recall the search method
        query: function() {
            this.search();
        }
    }

})
</script>
